{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Оценки за все занятия</title>
    <link rel="stylesheet" href="{% static 'stud-maksim/index.css'%}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="main-text-content">
            <h1 class="main-text">Оценки за все занятия</h1>
        </div>
        <p><a href="{% url 'lessons_list' %}">Просмотреть оценки за отдельные занятия</a></p>
        <table border="1">
            <thead>
                <tr>
                    <th>Студент</th>
                    <th>Общий балл</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td><a href={% url 'student_dashboard' student.id %}>{{ student.first_name }} {{ student.last_name }}</a></td>
                        <td>{{ student.total_score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
